<header>

    <h1 class="logo">Lorem Potions</h1>

    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 0L12.7009 7.29909L20 10L12.7009 12.7009L10 20L7.29909 12.7009L0 10L7.29909 7.29909L10 0Z" fill="#E0E0E0"/>
    </svg>

    <nav aria-label="main navigation">

        <ul>

            <li>
                <a href="/categories" class="btn primary">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.1875 7.625C15.7408 7.625 17 6.3658 17 4.8125C17 3.2592 15.7408 2 14.1875 2C12.6342 2 11.375 3.2592 11.375 4.8125C11.375 6.3658 12.6342 7.625 14.1875 7.625Z" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.8125 17C6.3658 17 7.625 15.7408 7.625 14.1875C7.625 12.6342 6.3658 11.375 4.8125 11.375C3.2592 11.375 2 12.6342 2 14.1875C2 15.7408 3.2592 17 4.8125 17Z" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.375 11.375H17V16.0625C17 16.5803 16.5803 17 16.0625 17H12.3125C11.7947 17 11.375 16.5803 11.375 16.0625V11.375Z" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2 2H7.625V6.6875C7.625 7.20526 7.20526 7.625 6.6875 7.625H2.9375C2.41974 7.625 2 7.20526 2 6.6875V2Z" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Categories
                </a>
             </li>

            <li>
                <a href="/potions" class="btn secondary">
                    <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.37493 5.35382L10.4075 1.83334M11.6467 7.2426L13.6791 3.72223M12.0094 10.3921L12.0119 10.4012M8.77166 0.888891L15.315 4.66667M3.81332 9.47699L4.50412 9.46534C4.63176 9.46324 4.69563 9.46216 4.75616 9.46309C5.88403 9.48022 6.9452 10.0005 7.64942 10.8816C7.68725 10.9288 7.72556 10.98 7.80206 11.0823C7.85957 11.1591 7.88832 11.1975 7.91706 11.234C8.44982 11.9108 9.1977 12.3851 10.037 12.5785C10.0823 12.589 10.1294 12.5986 10.2234 12.6178L11.6468 12.9091L5.33775 14.3922L3.81332 9.47699ZM9.33934 7.46119C8.89927 5.20214 6.98154 3.4753 4.54742 3.90592C2.11329 4.33654 0.553344 6.50549 0.900326 8.87722C1.18879 10.8492 2.77892 15.5749 3.30684 17.1121C3.36591 17.2841 3.39545 17.37 3.45301 17.4303C3.50321 17.483 3.56938 17.5212 3.64007 17.5383C3.72106 17.558 3.81028 17.5406 3.98873 17.5058C5.58388 17.1943 10.4716 16.2086 12.3236 15.4724C14.5511 14.5871 15.686 12.1534 14.8053 9.82832C13.9246 7.50321 11.5158 6.71278 9.33934 7.46119Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Potions
                </a>
            </li>

        </ul>

    </nav>

</header>