<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="wrapper">
        <main class="404">
            <h1>404.</h1>
            <p>The page you requested couldn't be found. <a href="/categories" class="bold">Return to categories ?</a></p>
        </main>
    </div>
</body>