<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <h2>Category Name</h2>
        <p>Description</p>

        <nav aria-label="potions navigation">
            <ul>
                <li>Potion 1</li>
                <li>Potion 2</li>
            </ul>
        </nav>
    </main>

    <%- include("./partials/footer.ejs") %>
</body>