<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <h2>Categories overview</h2>
        <nav aria-label="categories navigation">
            <ul>
                <li>Category name 1</li>
                <li>Category name 2</li>
            </ul>
        </nav>
    </main>

    <%- include("./partials/footer.ejs") %>
</body>